<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1_Intro</title>
    <link rel="stylesheet" href="../style/output.css">
</head>

<body class="bg-gray-950 h-screen text-white overflow-hidden font-inter">

	<!-- Intro Page Layout ----->
	<div class="h-full flex flex-col items-center justify-around">

		<!-- Title -->
		<header class="border-y-4 border-yellow-400 py-6 text-6xl font-pixel tracking-widest">
			FT_TRANSCENDENCE
		</header>

		<!-- Button -->
		<section class="flex flex-col space-y-6">

			<button class="button-secondary">
				<i class="fa-brands fa-google text-yellow-400 text-2xl"></i>
				<span>Enter with Google</span>
			</button>

			<button class="button-primary">
				About
			</button>

		</section>
	</div>

</body>
</html>