@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

.pixel-font {
    font-family: 'Press Start 2P', cursive;
}

.inter-font{
	font-family: 'Inter', sans-serif;
}

.button-primary {
	@apply px-12 py-2 space-x-3 rounded-full font-semibold text-lg text-center bg-yellow-400 text-black hover:bg-yellow-300 transition duration-200;
}

.button-secondary {
	@apply px-12 py-2 space-x-3 rounded-full font-semibold text-lg flex items-center justify-center border-2 border-yellow-400 hover:bg-yellow-400/20 transition duration-200;
}

.button-remove {
	@apply w-6 h-6 bg-yellow-400 rounded flex items-center justify-center hover:bg-yellow-300;
}

.radio-language {
	@apply appearance-none w-6 h-6 border-4 rounded-full cursor-pointer bg-transparent transition-all ease-in-out duration-200 group-hover:border-yellow-500 checked:border-yellow-500 checked:bg-yellow-300
}

.err-msg {
	@apply text-red-500 text-lg font-semibold;
}

.select-map {
	@apply rounded-xl shadow-yellow-300  border-4 hover:grayscale-0 transition-all duration-300 ease-in-out cursor-pointer;
}

.match-win {
	@apply py-2 bg-green-500 rounded-xl text-center font-bold tracking-widest text-xl;
}

.match-lose {
	@apply py-2 bg-red-500 rounded-xl text-center font-bold tracking-widest text-xl;
}

.prize-1 {
	@apply w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center  text-black text-xl font-bold;
}

.prize-2 {
	@apply w-10 h-10 bg-gray-100 rounded-full flex items-center justify-center  text-black text-xl font-bold;
}

.prize-3 {
	@apply w-10 h-10 bg-orange-700 rounded-full flex items-center justify-center text-white text-xl font-bold;
}

.prize-4 {
	@apply w-10 h-10 bg-blue-900 rounded-full flex items-center justify-center text-white text-xl font-bold;
}

.result-win{
	@apply text-green-500 font-bold tracking-widest;
}

.result-lose {
	@apply text-red-500 font-bold tracking-widest;
}

.tooltip-1 {
	@apply absolute text-sm rounded-lg py-1 px-3 opacity-0  left-1/2 -translate-x-1/2 -bottom-11 bg-white/20 group-hover:opacity-100 transition-opacity whitespace-nowrap;
}

.tooltip-2 {
	@apply absolute text-sm rounded px-3 opacity-0  left-1/2 -translate-x-1/2 -bottom-5 bg-yellow-400 font-semibold text-black group-hover:opacity-100 transition-opacity whitespace-nowrap;
}


/* body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#screen{
    background-color: black;
}

#board{
    background-color: black;
    width: 80vw;
    height: 80vh;
    position: relative;
    justify-content: center;
    border: 4px solid white;
}

#ball{
  background-color: white;
  width: 15px;
  height: 15px;
  top: 100px;
  position: absolute;
}


#start_game_button{
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  border: 2px solid white;
}

#leftplayer{
  background-color: white;
  width: 10px;
  height: 150px;
  position: absolute;
  font-size: 18px;
}

#rightplayer{
  background-color: white;
  width: 10px;
  height: 150px;
  position: absolute;
  font-size: 18px;
} */